.HeroImage {
  background-image: url("../images/HeroImage.jpg") no-repeat center center;
  height: inherit;
  background-size: cover;
  position: relative;
  z-index: -2;
 display: flex;
 justify-content: center;
 align-items: center;
 flex: 1 1 auto;
}
